body {

	margin: 0;

	padding: 0;

	/* background: #F1F1F1; */

	background-color: #2d4739;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	color: black;

}



input,

input::-webkit-input-placeholder {

	color: black;

}



input.color {

	color: black;

	background-color: white;

}



i.material-icons,

label.titulo {

	color: black;

}



label.titulo {

	color: black;

}



/* Inicio */

img.img1 {

	width: 210px;

	height: 150px;

}



div.gallery {

	margin: 25px;

	border: 0px solid #ccc;

	float: left;

	width: 220px;

}



div.palabra {

	margin: 5px;

	border: 1px solid #ccc;

	float: left;

	width: 225px;

}



img {

	margin-right: 10px;

}



p {

	margin: 0px 0px 0px 0px;

	text-align: justify;

	font-family: Georgia;

	font-size: 18px;

}



p.margen {

	padding: 5px 0px 2px 0px;

	font-family: Georgia;

	font-size: 25px;

	font-weight: 550;

}



p.negrilla {

	font-family: Georgia;

	font-size: 30px;

	font-weight: 600;

}



a.btn-floating {

	margin-right: 4px;

	margin-left: 9px;

}



a.mover {

	margin-right: 9px;

	margin-left: 6px;

}



p.center {

	text-align: center;

	font-family: Georgia;

	font-size: 20px;

	margin-bottom: 0;

}



p.center2 {

	text-align: center;

	font-family: Avenir Next;

	font-size: 22px;

	margin-bottom: 0;

}



p.center1 {

	margin-top: 10;

	text-align: center;

	font-family: Georgia;

	font-size: 20px;

	font-weight: 550;

	margin-bottom: 5;

}



p.centerd2 {

	margin-left: 150px;

	text-align: center;

	font-family: Georgia;

	font-size: 20px;

	font-weight: 550;

}



p.justificar {

	width: 315px;

	margin-left: 100px;

	text-align: justify;

	font-family: Georgia;

	font-size: 20px;



}



p.titulo {

	text-align: center;

	width: auto;

	margin-bottom: 3px;

	font-size: 20px;

	font-weight: 600;

}



p.datos {

	text-align: center;

	width: auto;

	margin-bottom: 3px;

	font-size: 20px;

}



p.direccion {

	text-align: center;

	width: auto;

	margin-bottom: 3px;

	font-size: 18px;

}



p.telefono {

	text-align: center;

	width: auto;

	font-family: Avenir Next;

	margin-bottom: 3px;

	font-size: 23px;

}



p.boton {

	text-align: center;

	width: auto;

}



div.galeria {

	border: 0px solid #ccc;

	float: left;

	width: auto;

	margin-left: 20px;

}



div.galeria1 {

	border: 0px solid #ccc;

	float: left;

	width: 90px;

	margin-left: 100px;

}



div.estilo {

	border: 0px solid #ccc;

	margin-left: 30px;

	width: 300px;

}



div.contenedor {

	margin-left: 40;

	margin-right: 20;

	border: 0px solid #ccc;

}



img.img {

	width: 150;

	height: 100;

	padding: 5px 0px 0px 10px;

}



img.auto {

	width: 500;

	height: 300;

	padding: 0px 0px 0px 30px;

}



img.centrar {

	display: block;

	margin: auto;

	margin-bottom: 5px;

}



h4 {

	text-align: justify;

	color: black;

	font-weight: bold;

}



h5 {

	text-align: justify;

	color: black;

	font-weight: bold;

}



table.color {

	color: black;

	border: 1px solid black;

}



.colorClaro {

	color: black;

	border: 1px solid black;

	background: #F1F1F1;

	text-align: center;

	padding: 5px;

}



td,

th {

	border: black 1px solid;

	font-size: 18px;

}



td.espacio {

	padding-right: 10px;

	padding-left: 10px;

}